.number-box, .fizz-box, .buzz-box, .fizzbuzz-box{
    height: 160px;
    width: 160px;
    line-height: 160px;
    color: black;
    font-size: 2rem;
    text-align: center;
    border: 1px solid black;
}

.number-box{
    background-color: aquamarine;
}

.fizz-box{
    background-color: greenyellow;
}

.buzz-box{
    background-color: yellow;
}
.fizzbuzz-box{
    background-color: pink;
}